{% extends 'mrs/base.html' %}


{% block content %}

<h3>Recent Releases</h3>
{% for i in recent %}
    <label>
        <a href="{% url 'watch_movie' i.id %}">
            <img src="{{i.img_url}}" alt="{{i.title}}" width="200" height="250">
        </a>
    </label>
{% endfor %}

<h3>Most Popular</h3>
{% for j in popular %}
    <label>
        <a href="{% url 'watch_movie' j.id %}">
            <img src="{{j.img_url}}" alt="{{j.title}}" width="200" height="250">
        </a>
    </label>
{% endfor %}

<h3>Movies like {{top_pick}}</h3>
{% for i in like_top_pick %}
    <label>
        <a href="{% url 'watch_movie' i.id %}">
            <img src="{{i.img_url}}" alt="{{i.title}}" width="200" height="250">
        </a>
    </label>
{% endfor %}

{% if based_ratings != None %}
    <h3>Based on your Ratings</h3>
    {% for k in based_ratings %}
        <label>
            <a href="{% url 'watch_movie' k.id %}">
                <img src="{{k.img_url}}" alt="{{k.title}}" width="200" height="250">
            </a>
        </label>
    {% endfor %}
{% endif %}


{% for k,v in picked_genres.items %}
    <h3>{{k}}</h3>
    {% for i in v %}
        <label>
            <a href="{% url 'watch_movie' i.id %}">
                <img src="{{i.img_url}}" alt="{{i.title}}" width="200" height="250">
            </a>
        </label>
    {% endfor %}
{% endfor %}

{% if watched != None %}
    <h3>Movies you have watched</h3>
    {% for k in watched %}
        <label>
            <a href="{% url 'watch_movie' k.id %}">
                <img src="{{k.img_url}}" alt="{{k.title}}" width="200" height="250">
            </a>
        </label>
    {% endfor %}
{% endif %}

{% endblock %} 